body{
  padding: 0;
  margin: 0;
  /*
  background-image: url("./Fondo2.svg"),
  url("./Fondo.svg")
  ;
  background-repeat:
    no-repeat,
    repeat-y;
  background-size: 100% auto;
  background-attachment: fixed;*/
  background: #f0f0f0;
  background-color: #f0f0f0;
  
}
.contenedor-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,300px);
  justify-content: center;
  width: 100%;
  gap: 30px;
}
.shippingCart{
  width: 100%;
  height: 300px;
  overflow-x:hidden;
  overflow-y:auto;
  margin-top: 35px;
}
.bannerProducts{
  border: 1px solid black;
  height: 300px;
  margin-top: 35px;
}
.zoomImg {
  will-change: transform;
}
.App{
  margin-top: 50px;
}
.mouse :hover{
  cursor: pointer;
}
*{
  font-family: 'Bree Serif', serif;
}